<main>
    <section id="home" class="hero">
        <h1>Innovations in Healthcare</h1>
        <p>Exploring the cutting-edge technologies shaping the future of medicine</p>
    

    <div class="welcome-page">
        <h1>Welcome to G41 HealthCare</h1>
        <button (click)="navigateToLogin()"  class="login-button" aria-label="Login">Login</button>
    </div>

</section>  

    <section id="about" class="about">
        <h2>About This Project</h2>
        <p>This project was developed and deployed by <strong>Gaurav</strong>, showcasing the latest advancements in healthcare technology.</p>
    </section>
</main>

